{% load staticfiles i18n markdown_deux_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{website.title}}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easygoing base template">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% block header %}
            <div class="well  text-center">
                <header>
                    {{website.header|markdown}}
                </header>
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <main>
                {% block content %} easygoing base template content {% endblock %}
            </main>
        </div>
        <div class="col-md-3">
            <br/>
            <div class="row">
                <div class="text-center">
                    <a href="{% url 'index'%}">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                    </a>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'new_post' %}" class="form-horizontal" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </form>
                    <a href="{% url 'edit_home'%}">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </button>
                    </a>
                    <a href="{% url 'logout' %}?next={{request.get_full_path}}">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-log-out"> {{user.username}}</span>
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}?next={{request.get_full_path}}">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="well">
                        <nav>
                            {% block sidebar %} {{website.sidebar|markdown}} {% endblock %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
<br/>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well text-center">
                    {% block footer %} {{website.footer|markdown}} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>