{% extends "stem/base.html" %}
{% load crispy_forms_tags markdown_deux_tags %}

{% block title %}{{post.title}} - {{website.title}}{% endblock %}

{% block content %}
<article>
    <h2>{{post.title}}</h2>
    <small>
        <span class="glyphicon glyphicon-time"></span> {{post.created}}
        {% if post.edited is not None %}
        (Edited: {{post.edited}})
        {% endif %}
        {% if perms.stem.change_post %}
        <a href="{% url 'edit_post' post.pk %}" style="display: inline;">
            <button type="submit" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
        <form method="post" action="{% url 'hide_post' post.pk %}" class="form-horizontal" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
                {% if post.hidden %}
                <span class="glyphicon glyphicon-eye-open"></span>
                {% else %}
                <span class="glyphicon glyphicon-eye-close"></span>
                {% endif %}
            </button>
        </form>
        <form method="post" action="{% url 'close_post' post.pk %}" class="form-horizontal" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
                {% if post.comments_closed %}
                <span class="glyphicon glyphicon-comment"></span>
                {% else %}
                <span class="glyphicon glyphicon-lock"></span>
                {% endif %}
            </button>
        </form>
        {% endif %}
    </small>
    <br/>
    <br/>
    <p>
        {{post.content|markdown}}
    </p>
</article>
<hr/>
{% if post.comment_set.all %}
<h4 id="comments">Comments:</h4>
{% for comment in post.comment_set.all %}
{% if perms.stem.change_comment or not comment.taken_down %}
<article id="comment-{{comment.pk}}">
    <h5>
        {% if comment.author is not None %}
        <i><b>{{comment.author.username}}</b></i>
        {% else %}
        <i>{{comment.author_name}}</i>
        {% endif %}
        <small>
            <span class="glyphicon glyphicon-time"></span> {{comment.date}}
        </small>
        {% if perms.stem.change_post %}
        <form method="post" action="{% url 'takedown_comment' comment.pk %}" class="form-horizontal"
              style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
                {% if comment.taken_down %}
                <span class="glyphicon glyphicon-eye-open"></span>
                {% else %}
                <span class="glyphicon glyphicon-eye-close"></span>
                {% endif %}
            </button>
        </form>
        {% endif %}
        <a href="#comment-{{comment.pk}}">#</a>
    </h5>
    <p>
        {{comment.content}}
    </p>
    <hr/>
</article>
{% endif %}
{% endfor %}
{% else %}
<h4 id="comments">No comments submitted yet.</h4>
{% endif %}
<div class="row">
    {% if not post.comments_closed %}
    {% crispy form %}
    {% else %}
    <h4>Comments closed.</h4>
    {% endif %}
</div>
{% endblock %}